<div data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html" class="jj" id="log-in">
      <div class="cmp-title">
            <h1 class="cmp-title__text">Sign In</h1>
      </div>
      <div class="cmp-containter">
            <div class="text">
                  <div class="cmp-form-text">
                        <input class="cmp-form-text__text" type="text" id="username"
                              placeholder="${properties.usernameLabel}" required>
                  </div>
            </div>
            <div class="text">
                  <div class="cmp-form-text">
                        <input class="cmp-form-text__text" type="password" id="password"
                              placeholder="${properties.passwordLabel}" required>
                  </div>
            </div>
            <div id="error-message" class="error-message" style="color:red;"></div>
            <div class="text">
                  <div class="cmp-text">
                        <p>
                              <a
                                    href="${properties.registerPath @ selectors='content', extension = 'html'}">${properties.registerUser}</a>
                        </p>
                  </div>
            </div>
            <div class="button">
                  <button type="SUBMIT"
                        data-homepage="${properties.userPostLoginPath @ selectors='content', extension = 'html'}"
                        data-adminhomepage="${properties.adminPostLoginPath @ selectors='content', extension = 'html'}"
                        class="cmp-form-button" id="login-btn">${properties.loginLabel}</button>
            </div>
      </div>
</div>
<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty=!hasContent}"></sly>
<script>
      document.addEventListener('DOMContentLoaded', () => {
            const loginButton = document.getElementById('login-btn');
            const loginForm = document.getElementById('login-form');
            const userNameInput = document.getElementById('username');
            const passwordInput = document.getElementById('password');
            const errorMessageDiv = document.getElementById('error-message');

            // Accessing data attributes:
            const homepagePath = loginButton.dataset.homepage;
            const adminpagePath = loginButton.dataset.adminhomepage;

            const displayError = (message) => {
                  errorMessageDiv.textContent = message;
                  errorMessageDiv.style.display = 'block';
            }

            const validateForm = () => {
                  const username = userNameInput.value;
                  const password = passwordInput.value;

                  if (!username || !password) {
                        displayError('All fields are required!');
                        return false;
                  }

                  errorMessageDiv.style.display = 'none';
                  return true;
            }

            const login = async () => {
                  if (!validateForm()) {
                        return;
                  }
                  const username = userNameInput.value;
                  const password = passwordInput.value;

                  try {
                        const response = await fetch('/bin/loginuser', {
                              method: 'POST',
                              headers: {
                                    'Content-Type': 'application/json'
                              },
                              body: JSON.stringify({ username, password }),
                        });

                        if (response.ok) {
                              const user = await response.json();
                              sessionStorage.setItem('role', user.userType);
                              sessionStorage.setItem('username', user.username);
                              window.location.href = user.userType === 'admin' ? adminpagePath : homepagePath
                        }
                        else {
                              const errorData = await response.json();
                              displayError(errorData.error || 'Invalid Credentials')
                        }
                  }
                  catch (error) {
                        console.error('Error:', error);
                        displayError('An error occurred. Please try again.')
                  }
            }

            loginButton.addEventListener('click', (e) => {
                  e.preventDefault();
                  login();
            });
      })
</script>